
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(70, 0, 140);
    font-family:sans-serif;
    
}
#timeDisplay{
    width:60%;
    height:100px;
    background:rgb(235, 235, 235);
    color:rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    font-size: 50px;
  }
.displayTime{
    color:black;
    height: 100px;
    width: 50px;
   text-align: center;
}
  .menu{
    width:60%;
    height:100px;
    background:rgb(235, 235, 235);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
  }

  button{
    margin: 5px;
    height: 40px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  button:hover{
    margin: 5px;
    height: 40px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
   
  }

  #start{
    background: rgb(22, 84, 22);
    color: white;
  }

  #start:hover{
    background: rgb(39, 168, 39);
    color: white;
  }

  #stop{
    background: rgb(219, 21, 21);
    color: white;
  }

  #stop:hover{
    background: rgb(196, 98, 98);
    color: white;
  }

  #reset{
    background: rgb(112, 105, 6);
    color: white;
  }

  #reset:hover{
    background: rgb(127, 136, 87);
    color: white;
  }